@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&family=Roboto+Mono:wght@300;400;500;600&display=swap');

#root{
  --primary-font:  'Roboto Mono', monospace;
  --secondary-font:  'IBM Plex Sans', sans-serif;
  --primary-color: #383e4e;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #383e4e99;
}

h2{
  font-family: var(--primary-font);
  color: white;
  margin-bottom: 2rem;
}